$taupe: #dfac89;

.upload-profile-picture {
  padding: 3vw 0 0 10vw;

  &__container {
    width: 25vw;
  }

  &__form {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 30px;

    label {
      font-size: calc(5px + 1vw);
    }

    p {
      color: $taupe;
      font-size: calc(5px + 1vw);
    }
  }

  &__input {
    width: 22vw;
    padding: 0.5vw;
    border: none;
    border-bottom: 1px solid $taupe;
    font-size: calc(5px + 1vw);
  }
}

//@media screen and (max-width: 610px) {
//  .upload-profile-picture__input {
//    width: 32vw;
//  }
//}
//
//@media screen and (max-width: 455px) {
//  .upload-profile-picture__form {
//    grid-column-gap: 35px;
//  }
//
//  .upload-profile-picture__input {
//    width: 34vw;
//  }
//}
//
//@media screen and (max-width: 412px) {
//  .upload-profile-picture__form {
//    grid-column-gap: 28px;
//  }
//
//  .upload-profile-picture__input {
//    width: 37vw;
//  }
//}