$taupe: #dfac89;
$darker-taupe: rgba(223, 172, 137, 0.88);

.greeting-header {
  width: 100%;
  height: 8vw;
  padding: 3.5vw 10vw 2vw 10vw;

  h2 {
    font-size: calc(10px + 2vw);
  }

  h3 {
    font-size: calc(5px + 1vw);
    font-weight: normal;
  }

  &__link {
    color: $taupe;
    text-decoration: none;

    &:hover {
      color: $darker-taupe;
      cursor: pointer;
      transition: all 0.3s ease-out;
    }
  }
}
