$white: #fff;
$taupe: #dfac89;
$blue: #5b618e;
$shadow-grey: 0px 18px 53px rgba(255, 255, 255, 0.12);
$darker-taupe: rgba(223, 172, 137, 0.88);

.swipe-card {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 5vh;

  &__btn {
    width: 90px;
    height: 25px;
    border: none;
    background: $taupe;
    font-weight: bold;

    &:hover {
      background: $darker-taupe;
      cursor: pointer;
      transition: all 0.3s ease-out;
    }
  }

  p {
    font-size: calc(6px + 1vw);
  }

  &__link {
    color: $taupe;
    text-decoration: none;

    &:hover {
      color: $darker-taupe;
      cursor: pointer;
      transition: all 0.3s ease-out;
    }
  }

  &__container {
    position: absolute;
    top: 170px;
    cursor: grab;
    box-shadow: $shadow-grey;
  }

  &__left {
    float: left;
  }

  &__img {
    display: block;
    position: relative;
    width: 27vw;
    height: 27vw;
    background-size: cover;
    background-position: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 27vw;
    height: 8vw;
    background-color: $taupe;

    h3 {
      background: none;
      font-size: calc(7px + 1vw);
      font-weight: bold;
    }

    h4 {
      background: none;
      font-size: calc(7px + 1vw);
      font-weight: normal;
      color: $blue;
    }

    h5 {
      background: none;
      font-size: calc(4px + 1vw);
      font-weight: normal;
    }
  }

  &__right {
    float: right;
  }

  &__aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 18vw;
    height: 35vw;
    background-color: $white;
    padding: 10px 20px 10px 20px;

    h1 {
      background: none;
      color: $blue;
      font-weight: bold;
      font-size: calc(7px + 1vw);
    }

    h2 {
      background: none;
      color: $taupe;
      font-size: calc(7px + 1vw);
      font-weight: normal;
    }

    h6 {
      background: none;
      color: $blue;
      font-weight: normal;
      font-size: calc(6px + 1vw);
    }
  }
}

@media screen and (max-width: 700px) {
  .swipe-card {
    &__info {
      height: 10vw;
    }

    &__aside {
      height: 37vw;
    }
  }
}

@media screen and (max-width: 620px) {
  .swipe-card {
    &__aside {
      h1 {
        font-size: calc(6px + 1vw);
      }

      h2 {
        font-size: calc(6px + 1vw);
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .swipe-card {
    &__info {
      height: 12vw;
    }

    &__aside {
      height: 39vw;
      width: 20vw;

      h1 {
        font-size: calc(5px + 1vw);
      }

      h2 {
        font-size: calc(5px + 1vw);
      }
    }
  }
}
