$light-grey: #b4b4b4;
$taupe: #dfac89;

.welcome-section {
  width: 100%;
  height: calc(435px + 15vw);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20vw 10vw 0 10vw;
  line-height: 0.90;
  text-align: center;

  h1 {
    font-size: calc(13px + 4vw);
    font-weight: bold;
  }

  span {
    background: none;
    color: $taupe;
  }

  h2 {
    background: none;
    font-size: calc(11px + 3vw);
    font-weight: bold;
    margin-top: -20px;
  }

  h3 {
    color: $taupe;
    font-size: calc(8px + 1vw);
    font-weight: bold;
    letter-spacing: 1px;
  }

  h4 {
    padding: 0 7vw 0 7vw;
    font-size: calc(11px + 1vw);
    color: $light-grey;
    font-weight: 500;
  }
}

@media screen and (max-width: 768px) {
  .welcome-section {
    height: calc(400px + 10vw);
  }
}

@media screen and (max-width: 480px) {
  .welcome-section {
    height: calc(350px + 6vw);

    h4 {
      padding: 0 5vw 0 5vw;
    }
  }
}
