$taupe: #dfac89;

.navbar {
  width: 100%;
  height: 102px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  position: fixed;
  padding-right: 40px;

  &__menu {
    padding-left: 53px;
    list-style: none;
  }

  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: calc(8px + 1vw);
    justify-items: center;

    &:hover {
      border-bottom: 3px solid $taupe;
      transition: all 0.2s ease-out;
    }
  }

  &__logo {
    font-size: calc(30px + 4vw);
    text-decoration: none;
  }
}
