$taupe: #dfac89;
$blue: #5b618e;
$light-grey: #b4b4b4;

.matched-card {
  display: flex;
  justify-content: center;
  margin-top: 8vh;
  padding-left: 7vw;

  &__tinder-card {
    background: none;
    position: absolute;
  }

  &__left {
    float: left;
  }

  &__img {
    position: relative;
    width: 27vw;
    height: 27vw;
    background-size: cover;
    background-position: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 27vw;
    height: 10vw;
    background-color: $taupe;
    gap: 5px;

    h2 {
      background: none;
      font-size: calc(8px + 1vw);
      font-weight: bold;
    }

    h3 {
      background: none;
      font-size: calc(5px + 1vw);
      font-weight: normal;
      color: $blue;
    }
  }

  &__right {
    float: right;
  }

  &__aside {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 35vw;
    padding: 0 20px 0 8vw;

    h1 {
      font-size: calc(25px + 1vw);
      font-weight: bold;
    }

    h4 {
      font-size: calc(7px + 1vw);
      color: $taupe;
      font-weight: normal;
    }

    &__link {
      text-decoration: none;

      &:hover {
        color: $light-grey;
        cursor: pointer;
        transition: all 0.3s ease-out;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .matched-card {
    &__aside {
      h1 {
        font-size: calc(22px + 1vw);
      }

      h4 {
        font-size: calc(6px + 1vw);
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .matched-card {
    &__aside {
      h1 {
        font-size: calc(16px + 1vw);
      }

      h4 {
        font-size: calc(6px + 1vw);
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .matched-card {
    &__aside {
      h1 {
        font-size: calc(14px + 1vw);
      }

      h4 {
        font-size: calc(6px + 1vw);
      }
    }
  }
}
